html, body {
  background: rgb(2,0,36);
background: linear-gradient(to right, rgb(97, 144, 232), rgb(167, 191, 232));
    min-width: 400px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
  }

  
  #ville {
    text-transform: capitalize;
  }
  
  #temperature {
    font-size: 4em;
  }
  
  #changer {
    background: rgba(178, 223, 251, .3);
    cursor: pointer;
    padding: 25px;
    border-radius: 15px;
    justify-content: center;
  }
  #changer:hover{
    background-color: #FFFFFF;
  }